<% if current_user.admin? %>
<div>
<h3>Code:</h3>
<p><%= @clientpayment.code %></p>
<h3>Description:</h3>
<p><%= @clientpayment.description %></p>
<h3>Amount:</h3>
<p><%= @clientpayment.amount %></p>
<h3>Status:</h3>
<p><%= @clientpayment.paid %></p>
</div>
<% else %>
<div>You don't have permissions to view this.</div>
<% end %>