<div class="posts">

	<div class="feed-item" id="working-with-omnifocus" style="display:none;">
		<div class="feed-pic">
			<a href="/working-with-omnifocus">
				<img src="/images/Working-with-OmniFocus.jpg" />
			</a>
		</div>
		<div class="feed-excerpt">Stop searching for the right way to use OmniFocus. There isn’t one.</div>
	</div>

	<div class="feed-item">
		<div class="feed-title">
			<a href="https://github.com/joebuhlig/OFScripts">OFScripts</a>
		</div>
		<div class="feed-pic github-logo">
			<a href="https://github.com/joebuhlig/OFScripts">
				<img src="/images/GitHubLogo.png" />
			</a>
		</div>
		<div class="feed-excerpt">A GitHub repository containing the scripts I use to augment OmniFocus.</div>
	</div>

	<div class="feed-item">
		<div class="feed-title">
			<a href="https://github.com/joebuhlig/Jekyll-Podcast-Feed">Jekyll Podcast Feed</a>
		</div>
		<div class="feed-pic github-logo">
			<a href="https://github.com/joebuhlig/Jekyll-Podcast-Feed">
				<img src="/images/GitHubLogo.png" />
			</a>
		</div>
		<div class="feed-excerpt">When migrating to Jekyll I need to re-create my podcast feed for iTunes. This is the RSS feed I'm generating and pushing to Apple.</div>
	</div>
</div>