<div class="posts">

	<div class="feed-item">
		<div class="feed-pic">
			<a href="/working-with-omnifocus">
				<img src="/images/Whaddya-Know-Joe-Album-Art.png" />
			</a>
		</div>
		<div class="feed-excerpt">I'm super excited about the new tools page! It'll be here near the end of October.</div>
	</div>

	<div class="feed-item">
		<div class="feed-pic">
			<a href="/working-with-omnifocus">
				<img src="/images/Whaddya-Know-Joe-Album-Art.png" />
			</a>
		</div>
		<div class="feed-excerpt">I'm super excited about the new tools page! It'll be here near the end of October.</div>
	</div>

	<div class="feed-item">
		<div class="feed-pic">
			<a href="/working-with-omnifocus">
				<img src="/images/Whaddya-Know-Joe-Album-Art.png" />
			</a>
		</div>
		<div class="feed-excerpt">I'm super excited about the new tools page! It'll be here near the end of October.</div>
	</div>
</div>