<div>Time to change your payment method?</div>
<div class='container'>
  <form action='/update' method='post'>
    <div id='checkout'></div>
    </div>
      <input type='submit' value='Submit Payment'>
    </div>
    <%= form_authenticity_token %>
  </form>
</div>
<script charset='utf-8'>
  braintree.setup("<%= @client_token %>", 'dropin', {
    container: 'checkout'
  });
</script>