<% @title = "Working with OmniFocus" %>
<div class="post-content">
	<div class="sales-section">

		<h2>Working with OmniFocus</h2>
		<blockquote style="border: 0px; text-align:center;">Stop searching for the right way to use OmniFocus. There isn’t one.</blockquote>
		<div class="button-wrapper">
			<a href="#checkout" class="button omnifocus-button">Get <em>Working with OmniFocus</em></a>
		</div>
		<div class="float-right book-cover">
			<img src="/images/Working-with-OmniFocus.jpg" />
		</div>
		<div class="float-left">
			<p>It’s fun to get lost reading about how other people use a tool. I am fascinated by the ways other people work. It makes me rethink how I operate and re-evaluate my own ways of thinking about tasks.</p>
			<p>But it’s easy to spend too much time researching how others use a tool and developing my system without accomplishing the work itself. How many of us have spent hours moving tasks around and reorganizing them in OmniFocus? How many new OmniFocus users have pored through books, articles, and screencasts trying to find the correct way to use it?</p>
			<p>We do this because incomplete projects stall and continue cluttering our system. We believe there must be something wrong with the system if we’re not accomplishing everything. But what if that’s not the problem? What if we’re just human and have over-committed ourselves? And if that’s the case, <strong>is there a wrong way to use OmniFocus?</strong></p>
			<p>Yes, there is. But the right way to use OmniFocus depends on you and how you operate. The more we understand how we work, the more we understand what we need from a support system to help us accomplish our tasks. <em>Working with OmniFocus</em> is about learning concepts behind the tool and combining them with how you work.</p>
		</div>
	</div>
	<div class="sales-section" style="float:left;">
		<div class="referral-quote">
			<blockquote>
				<p>Task systems are like musical instruments. Each person plays them differently. But you can learn so much from studying how they do so.</p>
				<p>Buhlig has built a working system that helps him integrate the various spheres of his personal and work lives. In Working with OmniFocus, he does a nice job of pulling back the curtains to show his day-to-day system of work.</p>
				<p>The book is aimed at those who already have some understanding of GTD and OmniFocus. While he does review the various types of projects, contexts, and perspectives, it is likely most useful for those who are looking to continue developing their own systems.</p>
				<p>Personally, I found his methods for creating and using Someday/Maybe lists, checklists, and templates as intriguing. I also plan to experiment more with Launch Center Pro based on his writings.</p>
				<p>If you are looking for a concise overview of a working OmniFocus system, Joe Buhlig’s Working with OmniFocus is a solid resource.</p>
			</blockquote>
			<div class="author">Kourosh Dini<br />Using OmniFocus</div>
		</div>
	</div>
	<div class="sales-section" style="float:left;">
		<div class="referral-quote">
			<blockquote>
			</blockquote>
			<div class="author">Tim Stringer<br />Founder, Learn OmniFocus</div>
		</div>
	</div>
	<div class="sales-section">
		<div class="button-wrapper">
			<a href="#checkout" class="button omnifocus-button">Get <em>Working with OmniFocus</em></a>
		</div>
		<h2>Book Outline and Snippets</h2>
		<h3>1. Introduction</h3>
		<p>How did I get here? What led me to using OmniFocus?</p>
		<h3>2. Tasks</h3>
		<p>Tasks are commitments. If it makes it onto your lists, it’s a commitment that you’re making with yourself. You’re saying that you want to come back to it in the future and do something about it.</p>
		<h3>3. Projects</h3>
		<p>A project is any commitment requiring more than one task. If it takes two steps or more before you can check it off, it’s defined as a project.</p>
		<h3>4. Contexts</h3>
		<p>Contexts are one of the most commonly altered facets of my system. They’re also one of the most commonly talked about aspects of GTD. One reason for this is that the tools we use to complete our work have become ubiquitous and they are with us all the time.</p>
		<h3>5. Perspectives</h3>
		<p>A Perspective is a way to filter and sort your tasks and projects into a custom view. They are alternative ways of seeing your database.</p>
		<h3>6. Extensions</h3>
		<p>Hardware and software developers seem to be moving toward microinteractions with services as opposed to apps. They are developing infrastructures that allow you to see and act on small pieces of the broader system from multiple places and devices.</p>
		<h3>7. Areas of Responsibility</h3>
		<p>My interpretation of Areas of Responsibility from GTD is pretty basic. I see them as the sectors of life that I need to maintain or continue working on to make myself better.</p>
		<h3>8. Someday/Maybe Lists</h3>
		<p>Someday/Maybe lists might be the most important lists in my system. I say that for two reasons...</p>
		<h3>9. Checklists and Templates</h3>
		<p>Some projects or tasks happen semi-regularly. For example, you go on a trip to visit your parents or you travel for work; maybe you have a set of actions you take every time you create a new presentation.</p>
		<h3>10. Capturing</h3>
		<p>No matter how sophisticated your system or how elegant your solution for reviewing projects and seeing tasks, it’s incomplete if you don’t have easy and accurate ways to capture.</p>
		<h3>11. Reviewing</h3>
		<p>Reviewing my system isn’t fun. It’s time consuming and I resist it because I don’t feel that I’m accomplishing anything worthwhile.</p>
		<h3>12. Scripting</h3>
		<p>Writing AppleScripts isn’t for everyone. You need a developer’s mind to do it well. But even if you’re not one to write them yourself, you can still use them.</p>
		<h3>13. Gaining Guidance</h3>
		<p>Sometimes people try to take individual projects inside their system and tie them back to their goals and life mission. For some reason there’s an attempt to directly correlate the two. I understand the appeal.</p>
		<h3>14. Using the System</h3>
		<p>OmniFocus can be extremely complex. That’s both a strength and a weakness. It means you can do advanced management of your commitments, but it also means it can be challenging to determine how to use it.</p>
	</div>
	<div class="sales-section">
		<div class="button-wrapper">
			<a href="#checkout" class="button omnifocus-button">Get <em>Working with OmniFocus</em></a>
		</div>
		<h2>Nitty Gritty</h2>
		<h3>1. Format</h3>
		<p>This is a digital book. You'll get three formats in your email (.ePub, .mobi, and .pdf).</p>
		<h3>2. Guarantee</h3>
		<p>If you purchase <em>Working with OmniFocus</em> and you feel it wasn't worth your money, I'll buy it back. No questions.</p>
		<h3>3. Sample</h3>
		<p>If you just aren't sure, check out a sample <a href="/assets/resources/book/Working%20with%20OmniFocus-Sample.pdf">here</a>.</p> 
	</div>
	<form action="/working-with-omnifocus/buy" id="checkout" method="post">
	  <div class="price">$17</div>
	  <div id="paypal"></div>

	  <label for="email" id="checkout-email-label">Email</label>
	  <input type="email" name="email" id="checkout-email" class="input">

	  <label for="card-number" id="card-number-label">Card Number</label>
	  <div id="card-number" class="input"></div>


	  <label for="expiration-date" id="expiration-date-label">Expiration Date (MM/YY)</label>
	  <div id="expiration-date" class="input"></div>
	  <input type="hidden" name="product_name" id="hidden-product-name" value="Working-with-OmniFocus">
	  <input type="hidden" name="buhlig_aff" id="hidden-buhlig-aff" value="">
	  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
	  <input type="submit" class="submit-payment-button omnifocus-button" value="Buy Working with OmniFocus" />
	</form>
</div>
<script charset='utf-8'>
	$('#hidden-buhlig-aff').val(Cookies.get('buhlig_aff'));
	braintree.setup("<%= @client_token %>", "custom", {
        id: "checkout",
        hostedFields: {
          styles: {
            "input": {
              "font-size": "28px",
              "color": "#666"
            }
          },
          number: {
            selector: "#card-number"
          },
          expirationDate: {
            selector: "#expiration-date"
          }
        },
        paypal: {
        	container: "paypal"
        }
    });
    emailCheck();
  	function emailCheck(){
  		var emailInterval = setInterval(function(){
			if ($('#bt-pp-email').is(':visible')) {
				$('#checkout-email').val($('#bt-pp-email').html());
				$('#card-number-label').hide();
				$('#card-number').hide();
				$('#expiration-date-label').hide();
				$('#expiration-date').hide();
				clearInterval(emailInterval);
				paypalCheck();
			}
		}, 200);
  	}
	function paypalCheck(){
		var paypalInterval = setInterval(function(){
			if ($('#bt-pp-email').is(':hidden')) {
				$('#card-number-label').show();
				$('#card-number').show();
				$('#expiration-date-label').show();
				$('#expiration-date').show();
				clearInterval(paypalInterval);
				emailCheck();
			}
		})
	}
</script>