.float-left{
	float:left;
	max-width: 500px;
}
.float-right{
	float:right;
}
.sales-section{
	clear:both;
	margin-top:25px;
	text-align: left;
}
.sales-section h2{
	text-align: center;
}
.book-cover{
	max-width: 250px;
}
.posts {
    margin: 0px auto;
}
.post-content {
	max-width: 800px;
	margin: 0px auto;
}
.notice, .alert {
	background-color: #7cba01;
	border-radius: 0px 0px 5px 5px;
	color: #FFFFFF;
	left: 50%;
	margin-left: -125px;
	position: fixed;
	text-align: center;
	top: 0px;
	width: 250px;
	z-index: 9999;
}

.sign-in-out {
	float:right;
	font-family: "Cinzel", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 56px;
}

.sign-in-out:hover{
	text-decoration: none;
	color: #7cba01;
}

form {
	margin:0px auto;
	max-width: 300px;
}

.field {
	margin-bottom: 15px;
}

.field input, .input {
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    background-color: #fafafa;
    font-size: 28px;
    color: #666;
    width: calc(100% - 10px);
    height: 34px;
    padding-left: 10px;
}

.field input:focus, .braintree-hosted-fields-focused {
	outline: -webkit-focus-ring-color auto 5px;
	outline-offset: -2px;
}

input[type='submit'], .button {
	background-color: #7cba01;
    color: #FFFFFF;
    min-width: 124px;
    display: table-cell;
    margin: 0px auto;
    height: 30px;
    border-radius: 5px;
    vertical-align: middle;
    cursor: pointer;
    border: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
}

.button:hover {
	text-decoration: none;
	color: #FFFFFF;
}
.button:visited{
	color: #FFFFFF;
}
.submit-payment-button{
	margin-top: 15px !important;
}

.omnifocus-button {
	background-color: #702f96 !important;
	height: 45px !important;
	display: table-cell;
    width: 300px;
}
.button-wrapper {
    text-align: center;
    margin: 0px auto 20px auto;
    display: table;
}
form#checkout {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 35px;
}

form#checkout label{
	line-height: 32px;
}

#braintree-paypal-loggedin {
    margin-bottom: 10px;
}

#braintree-paypal-button {
	margin: 0px auto 20px auto;
}
input[type='checkbox'] {
	height:auto;
	width:auto;
}

.affiliate-instructions {
	margin: 0px auto;
	max-width: 600px;
	text-align: left;
}

.sign-up-button {
	display: table;
	margin: 0px auto;
	text-align: center;
}

.sign-up-button a {
    background-color: #7cba01;
    color: #FFFFFF;
    min-width: 124px;
    display: table-cell;
    margin: 0px auto;
    height: 30px;
    border-radius: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.sign-up-button a:hover {
	text-decoration:none;
}

.body {
	max-width: 700px;
	margin: 0px auto;
	text-align: left;
}

.feed-item {
	margin-top: 20px;
}
.feed-title {
	text-align: center;
}
.feed-title a{
	font-size: 28px;
	color:#666;
}

.feed-pic{
	text-align: center;
}

.feed-pic.github-logo img {
    height: 150px;
    margin: 54px 100px;
}

.price{
	font-size: 42px;
    font-weight: bold;
    color: #702f96;
    text-align: center;
}
.author{
	text-align: right;
    margin-bottom: 15px;
    color: #702f96;
    font-weight: bold;
    font-size: 18px;
}
#working-with-omnifocus img{
	height: 300px;
}

@media screen and (max-width: 800px) {
	.float-left{
		float:none;
		max-width: 100%;
	}
	.float-right{
		float:none;
	}
	.book-cover{
		margin: 0px auto;
	}
}