<p>Welcome! I'm thrilled to have you on the team!</p>

<p>If you're ready to get started, click on the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
