<!DOCTYPE html>
<html>
<head>
  <title>Tools | Joe Buhlig</title>
  <%= render "shared/head" %>
</head>
<body>

<%= render "shared/header" %>

<div class="page-content">
	<div class="wrapper content-wrapper">
		<%= yield %>
	</div>
</div>

</body>
</html>
